*.o
*.a
.deps
Makefile
Makefile.in
*.*~
*.sw?

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

osmopcapconfig.h*

# git-version-gen magic
.tarball-version
.version


# apps
src/osmo_pcap_client
src/osmo_pcap_server
