*.o
*.a
.deps
Makefile
Makefile.in
*.*~
*.sw?
*.pyc

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

osmopcapconfig.h*

# git-version-gen magic
.tarball-version
.version


# apps
src/osmo_pcap_client
src/osmo_pcap_server

# tests
tests/atconfig
tests/package.m4
tests/testsuite
tests/testsuite.log
